.menu-button {
  margin-right: 20px;
  align-content: center;
  font-size: 24px;
}

.home-button {
  align-content: center;
  font-size: 24px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
