@font-face {
  font-family: "SunBatang";
  src: url("/fonts/SunBatang-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaCyrillicBook.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.main-text-korean {
  font-family: "SunBatang";
  /* font-size: 16px;
  line-height: 20px;
  font-weight: 500; */
}

.main-text-english {
  font-family: "Futura PT";
  /* font-size: 16px;
  line-height: 20px;
  font-weight: 500; */
}
